.disconnect-button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: max-content;
    height: 46px;
}

.wallet-button{
    background: #606274;
    /*width: 100%;*/
    transition: all 0.1s 0.2s ease-out !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    border-radius: 25px !important;
    padding: 8px !important;
    padding-right: 16px !important;
    overflow: hidden;
    height: 46px;
}

.swoosh{
    transition: all 0.2s 0s;
    position: absolute;
    top: calc(100% - 9px);
    right: calc(100% - 1px);
    transform: scaleX(0);
    transform-origin: right;

    &.open{
        transition: all 0.2s 0.2s;
        transform: scaleX(1);
    }
}

.wallet-button.connected:hover{
    /*background: rgba(199, 0, 0, 0.6);*/
}

.wallet-button.not-connected{
    padding: 10px !important;
    font-weight: bolder;
    background: #33CC66;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.wallet-button.not-connected.open:hover{
    background: #606274;
}

.wallet-button.open{
    transition: all 0.2s ease-in !important;
    background: #606274;
    border-radius: 22px 22px 0 0 !important;
    height: calc(46px + 10px);
}

.connect-title{
    /*width: 150px;*/
    font-weight: bold;
    font-size: 14px;
    min-height: 26px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-title.open{
    /*width: 150px;*/
    /*border-bottom: 1px solid #8D8DA3;*/
    /*padding-bottom: 8px;*/
    /*margin-bottom: 4px;*/
}

.connect-wallet-flex{
    transition: all 0.3s;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    background: #606274;
    border-radius: 20px 0 20px 20px;
    transform-origin: top right;
    overflow: hidden;
}

.connect-wallet-flex.not-connected{
    .connection-button{
        height: 50px;
    }
}

.connect-wallet-flex.open{
    /*transform: scaleX(1);*/
}

.connector-options{
    //transition: all 0.3s;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    /*height: 0;*/
}

.connector-options .connection-button{
    transition: all 0.2s ease-in, background 0.1s;
    height: 0px;
    transform: scaleY(0);
}

.connector-options.open .connection-button{
    transition: all 0.2s 0.2s ease-out, background 0.1s;
    height: 50px;
    transform: scaleY(1);

    .bordered{
        border-top: 1px solid #A4A4A4;
        border-bottom: 1px solid #A4A4A4;
    }
}

.wallet-button.not-connected:hover{
    background: #33CC66;
}

.connection-button{
    cursor: pointer;
    outline: none !important;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin: 0;
    padding-right: 18px;
    padding-left: 18px;
    width: max-content;
    min-width: 100%;
    /*font-size: 16px;*/
}

.bordered{
    border: 0px solid #A4A4A4;
    margin-right: 4px;
    margin-left: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 14px;
    padding-left: 14px;
}

.connection-button:hover{
    background: rgba(255, 255, 255, 0.3);
}

.account-address{
    font-size: 14px;
}