.default-value-button{
    transition: all 0.2s;
    position: absolute;
    z-index: 2;
    right: 4px;
    top: 10px;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    outline: none !important;
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    background: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-value-button:hover{
    background: rgba(255, 255, 255, 0.2);
}

.input-container{
    position: relative;
}