.SimpleValidatedInput{
    outline: none !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    /*margin-top: 8px;*/
    color: rgba(255, 255, 255, 0.8);
    padding-left: 12px;
    padding-right: 12px;
    /*padding-right: 8px;*/
    /*padding-left: 8px;*/
    position: relative;
    margin-bottom: 16px;
    height: 50px;
}

.SimpleValidatedInput::placeholder{
    color: #e0e0e0;
}

.validation-error-tooltip{
    transition: all 0.3s;
    position: absolute;
    top: calc(100% - 18px);
    left: 0;
    color: rgba(255, 29, 94, 0);
    max-width: 100%;
    font-size: 12px;
    z-index: -1;
}

.validation-error-tooltip.active{
    top: calc(100% - 18px);
    color: rgba(255, 29, 94, 1);
    z-index: 1;
}

.default-value-button{
    transition: all 0.2s;
    position: absolute;
    z-index: 2;
    right: 4px;
    top: 10px;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    outline: none !important;
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bolder;
    background: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-value-button:hover{
    background: rgba(255, 255, 255, 0.2);
}